html {
	font-size: 16px;
	font-family: 'Roboto', Arial, sans-serif;
	color: #555;
}
body {
	width: 100%;
	box-sizing: border-box;
	border-left: 2px solid #CCC;
	border-right: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
}
header {
	height: 64px;
	padding: 0 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #F1F1F1;
}
header img {
	height: 32px;
}
header .school-title {
	font-size: 18px;
	display: flex;
	align-items: center;
}
header .school-title .colmar {
	font-weight: 500;
}
header .school-title .academy {
	font-weight: 300;
}
header .small-menu {
	display: none;
}
header a {
	margin-left: 16px;
	font-size: 20px;
	text-decoration: none;
	color: #555;
}
@media only screen and (max-width: 540px) {
	header .main-menu {
		display: none;
	}
	header a {
		margin-left: 0;
	}
	header {
		display: block;
	}
	header .small-menu {
		display: flex;
		justify-content: space-between;
		height: 100%;
		align-items: center;
	}
}
.banner {
	background-color: #CCC;
	display: flex;
}
.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.banner .flex {
	margin: auto 0;
	align-items: center;
	justify-content: center;
	width: 40%;
}
.banner img {
	width: 60%;
	height: auto;
	padding: 32px 24px;
	display: inline-block;
}
.banner .learn {
	display: inline-block;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.4;
	text-align: left;
	width: 80%;
}
.banner .more {
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.6;
	padding: 32px 0;
	text-align: left;
	width: 80%;
}
.banner a {
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	color: white;
	background-color: #555;
	padding: 8px 0;
	text-align: center;
	width: 80%;
}
@media only screen and (max-width: 540px) {
	.banner {
		display: block;
	}
	.banner img {
	width: 100%;
	height: 256px;
	padding: 0;
	display: inline-block;
    }
    .banner .flex {
		margin: 0;
		padding: 32px 16px;
		box-sizing: border-box;
		width: 100%;
    }
    .banner a {
		font-weight: 500;
		background-color: #999;
	}
}
.main {
	display: flex;
	padding: 32px 0;
}
.sixty {
	width: 60%;
}
.sixty img {
	padding: 0 24px;
}
h2 {
	font-size: 36px;
	font-weight: 700;
}
h5 {
	font-size: 24px;
	font-weight: 500;
}
p {
	font-size: 20px;
}
.sixty h2 {
	padding-top: 32px;
	padding-bottom: 24px;
	padding-left: 24px;
}
.sixty span {
	padding-left: 24px;
}
.sixty p {
	padding-bottom: 32px;
	padding-left: 24px;
	padding-right: 24px;
}
.sixty img {
	box-sizing: border-box;
	width: 100%;
}
.forty {
	width: 40%;
	box-sizing: border-box;
}
.side1 {
	width: 35%;
	height: 35%;
	padding: 16px;
}
.side2 {
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.side2 a {
	text-decoration: none;
	font-weight: 500;
	color: blue;
}
.side2 p {
	padding: 8px 0;
}
.mobile1 {
	display: none;
}
.orientation,
.campus {
	display: flex;
	border: 1px solid #CCC;
}
.lecture {
	display: flex;
	background-color: #CCC;
	border: 1px solid #CCC;
}
@media only screen and (max-width: 540px) {
	.sixty {
		display: none;
	}
	.side1 {
		display: none;
	}
	.mobile1 {
		display: block;
		padding: 16px;
		width: 100%;
		box-sizing: border-box;
	}
	.side2 {
		padding-left: 32px;
		width: 100%;
		box-sizing: border-box;
	}
	.orientation,
	.campus,
	.lecture {
		flex-direction: column;
		padding-bottom: 32px;
	}
	.forty {
		width: 100%;
	}
	.main {
		padding: 0;
	}
}
.courses {
	background-color: #CCC;
}
.courses h2 {
	text-align: center;
	padding-top: 32px;
}
.courses .flex {
	padding: 16px 56px;
}
.item {
	padding: 16px;
}
.item h5 {
	padding-top: 16px;
	padding-left: 16px;
}
.item p {
	padding-left: 16px;
	font-weight: 300;
}
.course {
	padding-top: 8px;
	padding-bottom: 8px;
}
.description {
	padding-bottom: 24px;
}