html {
	font-size: 16px;
	font-family: 'Roboto', Arial, sans-serif;
	color: #555;
}
body {
	width: 100%;
}
header {
	height: 64px;
	padding: 0 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #F1F1F1;
}
header img {
	height: 32px;
}
header .school-title {
	font-size: 18px;
	display: flex;
	align-items: center;
}
header .school-title .colmar {
	font-weight: 500;
}
header .school-title .academy {
	font-weight: 300;
}
header .small-menu {
	display: none;
}
header a {
	margin-left: 16px;
	font-size: 20px;
	text-decoration: none;
	color: #555;
}
@media only screen and (max-width: 540px) {
	header .main-menu {
		display: none;
	}
	header a {
		margin-left: 0;
	}
	header {
		display: block;
	}
	header .small-menu {
		display: flex;
		justify-content: space-between;
		height: 100%;
		align-items: center;
	}
}
.banner {
	background-color: #CCC;
	display: flex;
}
.banner .flex {
	margin: auto 0;
	display: flex;
	direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 35%;
}
.banner img {
	width: 60%;
	height: auto;
	padding: 32px 24px;
	display: inline-block;
}
.banner .learn {
	display: inline-block;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.4;
	text-align: left;
	width: 80%;
}
.banner .more {
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.6;
	padding: 32px 0;
	text-align: left;
	width: 80%;
}
.banner a {
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	color: white;
	background-color: #555;
	padding: 8px 0;
	text-align: center;
	width: 80%;
}
@media only screen and (max-width: 540px) {
	.banner {
		display: block;
	}
	.banner img {
	width: 100%;
	height: 256px;
	padding: 0;
	display: inline-block;
    }
    .banner .flex {
		margin: 0;
		padding: 32px 16px;
		box-sizing: border-box;
		width: 100%;
    }
    .banner a {
		font-weight: 500;
		background-color: #999;
	}
}